In [21]:
import pandas as pd
import re

# Import Datasets

In [2]:
df_ratings = pd.read_csv('stocks_us/ratings-history (1).csv')
df_ratings = df_ratings.rename(columns={"Obligor Name": "Name"})

In [4]:
df_ratings_count = df_ratings.groupby('Rating').count().reset_index().sort_values(by=['Rating Agency Name'],ascending=False)

In [5]:
rating_set = {'A', 'A+', 'A-', 'AA', 'AA-', 'AAA', 
              'B', 'B+', 'B-', 'BB', 'BB+', 'BB-', 'BBB', 'BBB+', 'BBB-',
              'CC', 'CCC', 'CCC+', 'CCC-', 'D'}

In [6]:
df_ratings = df_ratings[df_ratings['Rating'].isin(rating_set)]

In [11]:
df_ratings = df_ratings.drop_duplicates(subset = df_ratings.columns)

#### Import US stocks

In [13]:
df_is_stocks = pd.read_csv('stocks_us/us_stocks.csv')

In [14]:
df_is_stocks

,Symbol,Name,Sector,industry
0,A,"Agilent Technologies, Inc.",Capital Goods,Biotechnology: Laboratory Analytical Instruments
1,AA,Alcoa Corporation,Basic Industries,Aluminum
2,AACG,ATA Creativity Global,Consumer Services,Other Consumer Services
3,AAL,"American Airlines Group, Inc.",Transportation,Air Freight/Delivery Services
4,AAMC,Altisource Asset Management Corp,Finance,Real Estate
...,...,...,...,...
7017,ZVO,Zovio Inc.,Consumer Services,Other Consumer Services
7018,ZYME,Zymeworks Inc.,Health Care,Major Pharmaceuticals
7019,ZYNE,"Zynerba Pharmaceuticals, Inc.",Health Care,Major Pharmaceuticals
7020,ZYXI,"Zynex, Inc.",Health Care,Biotechnology: Electromedical & Electrotherape...
7021,TRUE,"TrueCar, Inc.",Technology,"Computer Software: Programming, Data Processing"

### Clean Names

In [52]:
df_is_stocks['Clean_Name'] = df_is_stocks['Name']

In [53]:
def clean(company_name):
    
    name = company_name.lower()
    name = re.sub(r'^a-z', '', name)
    name = re.sub(r'inc', '', name)
    name = re.sub(r'ltd', '', name)
    name = re.sub(r'limited', '', name)
    name = re.sub(r'ltd', '', name)
    name = re.sub(r'corporation', '', name)
    name = re.sub(r'holdings', '', name)
    name = re.sub(r'LLC', '', name)   
    name = re.sub(r'\.', '', name)
    name = re.sub(r',', '', name)
    name.strip()
    return name

In [54]:
df_is_stocks['Clean_Name'] = df_is_stocks['Clean_Name'].apply(clean)

In [57]:
df_ratings['Clean_Name'] = df_ratings['Name']

In [58]:
df_ratings['Clean_Name'] = df_ratings['Clean_Name'].apply(clean)

In [59]:
pd.merge(df_ratings, df_is_stocks ,on='Clean_Name')

,Rating Agency Name,Name_x,Rating,Rating Outlook,Rating Action Date,Symbol_x,Sector_x,industry_x,Clean_Name,Symbol_y,Name_y,Sector_y,industry_y
0,Standard & Poor's Ratings Services,Concho Resources Inc.,BB+,Stable,1/25/2012,CXO,Energy,Oil & Gas Production,concho resources,CXO,Concho Resources Inc.,Energy,Oil & Gas Production
1,Standard & Poor's Ratings Services,Concho Resources Inc.,BB+,Stable,5/13/2016,CXO,Energy,Oil & Gas Production,concho resources,CXO,Concho Resources Inc.,Energy,Oil & Gas Production
2,Standard & Poor's Ratings Services,Concho Resources Inc.,BB+,Stable,5/15/2015,CXO,Energy,Oil & Gas Production,concho resources,CXO,Concho Resources Inc.,Energy,Oil & Gas Production
3,Standard & Poor's Ratings Services,Concho Resources Inc.,BB+,Positive,8/19/2016,CXO,Energy,Oil & Gas Production,concho resources,CXO,Concho Resources Inc.,Energy,Oil & Gas Production
4,Standard & Poor's Ratings Services,Concho Resources Inc.,BB+,Stable,2/9/2016,CXO,Energy,Oil & Gas Production,concho resources,CXO,Concho Resources Inc.,Energy,Oil & Gas Production
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6671,"Morningstar Credit Ratings, LLC.",Discover Financial Services,BBB+,NaN,7/19/2010,DFS,Finance,Finance: Consumer Services,discover financial services,DFS,Discover Financial Services,Finance,Finance: Consumer Services
6672,"Morningstar Credit Ratings, LLC.",Synchrony Financial,BBB,NaN,8/4/2014,SYF,Finance,Finance: Consumer Services,synchrony financial,SYF,Synchrony Financial,Finance,Finance: Consumer Services
6673,"Morningstar Credit Ratings, LLC.",Synchrony Financial,BBB,NaN,8/4/2014,SYF,Finance,Finance: Consumer Services,synchrony financial,SYF^A,Synchrony Financial,NaN,NaN
6674,"Morningstar Credit Ratings, LLC.",Synchrony Financial,BBB,NaN,8/4/2014,SYF^A,NaN,NaN,synchrony financial,SYF,Synchrony Financial,Finance,Finance: Consumer Services
6675,"Morningstar Credit Ratings, LLC.",Synchrony Financial,BBB,NaN,8/4/2014,SYF^A,NaN,NaN,synchrony financial,SYF^A,Synchrony Financial,NaN,NaN

In [60]:
df_ratings = pd.merge(df_ratings, df_is_stocks ,on='Clean_Name')

In [61]:
df_ratings.tail()

,Rating Agency Name,Name_x,Rating,Rating Outlook,Rating Action Date,Symbol_x,Sector_x,industry_x,Clean_Name,Symbol_y,Name_y,Sector_y,industry_y
6671,"Morningstar Credit Ratings, LLC.",Discover Financial Services,BBB+,NaN,7/19/2010,DFS,Finance,Finance: Consumer Services,discover financial services,DFS,Discover Financial Services,Finance,Finance: Consumer Services
6672,"Morningstar Credit Ratings, LLC.",Synchrony Financial,BBB,NaN,8/4/2014,SYF,Finance,Finance: Consumer Services,synchrony financial,SYF,Synchrony Financial,Finance,Finance: Consumer Services
6673,"Morningstar Credit Ratings, LLC.",Synchrony Financial,BBB,NaN,8/4/2014,SYF,Finance,Finance: Consumer Services,synchrony financial,SYF^A,Synchrony Financial,NaN,NaN
6674,"Morningstar Credit Ratings, LLC.",Synchrony Financial,BBB,NaN,8/4/2014,SYF^A,NaN,NaN,synchrony financial,SYF,Synchrony Financial,Finance,Finance: Consumer Services
6675,"Morningstar Credit Ratings, LLC.",Synchrony Financial,BBB,NaN,8/4/2014,SYF^A,NaN,NaN,synchrony financial,SYF^A,Synchrony Financial,NaN,NaN

In [62]:
df_ratings.groupby('Rating').count()

,Rating Agency Name,Name_x,Rating Outlook,Rating Action Date,Symbol_x,Sector_x,industry_x,Clean_Name,Symbol_y,Name_y,Sector_y,industry_y
Rating,,,,,,,,,,,,
A,1551,1551,1473,1551,1551,798,798,1551,1551,1551,798,798
A+,318,318,64,318,318,192,192,318,318,318,192,192
A-,721,721,277,721,721,302,302,721,721,721,302,302
AA,61,61,49,61,61,29,29,61,61,61,29,29
AA-,44,44,36,44,44,36,36,44,44,44,36,36
AAA,8,8,7,8,8,8,8,8,8,8,8,8
B,187,187,163,187,187,156,156,187,187,187,156,156
B+,175,175,145,175,175,159,159,175,175,175,159,159
B-,73,73,58,73,73,61,61,73,73,73,61,61
BB,387,387,351,387,387,298,298,387,387,387,298,298
BB+,448,448,350,448,448,330,330,448,448,448,330,330
BB-,230,230,201,230,230,189,189,230,230,230,189,189
BBB,900,900,387,900,900,500,500,900,900,900,500,500
BBB+,1006,1006,464,1006,1006,548,548,1006,1006,1006,548,548
BBB-,486,486,326,486,486,433,433,486,486,486,433,433
CC,10,10,8,10,10,8,8,10,10,10,8,8
CCC,29,29,20,29,29,21,21,29,29,29,21,21
CCC+,19,19,18,19,19,19,19,19,19,19,19,19
CCC-,13,13,13,13,13,10,10,13,13,13,10,10
D,10,10,9,10,10,4,4,10,10,10,4,4

In [63]:
df_ratings

,Rating Agency Name,Name_x,Rating,Rating Outlook,Rating Action Date,Symbol_x,Sector_x,industry_x,Clean_Name,Symbol_y,Name_y,Sector_y,industry_y
0,Standard & Poor's Ratings Services,Concho Resources Inc.,BB+,Stable,1/25/2012,CXO,Energy,Oil & Gas Production,concho resources,CXO,Concho Resources Inc.,Energy,Oil & Gas Production
1,Standard & Poor's Ratings Services,Concho Resources Inc.,BB+,Stable,5/13/2016,CXO,Energy,Oil & Gas Production,concho resources,CXO,Concho Resources Inc.,Energy,Oil & Gas Production
2,Standard & Poor's Ratings Services,Concho Resources Inc.,BB+,Stable,5/15/2015,CXO,Energy,Oil & Gas Production,concho resources,CXO,Concho Resources Inc.,Energy,Oil & Gas Production
3,Standard & Poor's Ratings Services,Concho Resources Inc.,BB+,Positive,8/19/2016,CXO,Energy,Oil & Gas Production,concho resources,CXO,Concho Resources Inc.,Energy,Oil & Gas Production
4,Standard & Poor's Ratings Services,Concho Resources Inc.,BB+,Stable,2/9/2016,CXO,Energy,Oil & Gas Production,concho resources,CXO,Concho Resources Inc.,Energy,Oil & Gas Production
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6671,"Morningstar Credit Ratings, LLC.",Discover Financial Services,BBB+,NaN,7/19/2010,DFS,Finance,Finance: Consumer Services,discover financial services,DFS,Discover Financial Services,Finance,Finance: Consumer Services
6672,"Morningstar Credit Ratings, LLC.",Synchrony Financial,BBB,NaN,8/4/2014,SYF,Finance,Finance: Consumer Services,synchrony financial,SYF,Synchrony Financial,Finance,Finance: Consumer Services
6673,"Morningstar Credit Ratings, LLC.",Synchrony Financial,BBB,NaN,8/4/2014,SYF,Finance,Finance: Consumer Services,synchrony financial,SYF^A,Synchrony Financial,NaN,NaN
6674,"Morningstar Credit Ratings, LLC.",Synchrony Financial,BBB,NaN,8/4/2014,SYF^A,NaN,NaN,synchrony financial,SYF,Synchrony Financial,Finance,Finance: Consumer Services
6675,"Morningstar Credit Ratings, LLC.",Synchrony Financial,BBB,NaN,8/4/2014,SYF^A,NaN,NaN,synchrony financial,SYF^A,Synchrony Financial,NaN,NaN

In [65]:
df_ratings.groupby('Rating').count()

,Rating Agency Name,Name_x,Rating Outlook,Rating Action Date,Symbol_x,Sector_x,industry_x,Clean_Name,Symbol_y,Name_y,Sector_y,industry_y
Rating,,,,,,,,,,,,
A,1551,1551,1473,1551,1551,798,798,1551,1551,1551,798,798
A+,318,318,64,318,318,192,192,318,318,318,192,192
A-,721,721,277,721,721,302,302,721,721,721,302,302
AA,61,61,49,61,61,29,29,61,61,61,29,29
AA-,44,44,36,44,44,36,36,44,44,44,36,36
AAA,8,8,7,8,8,8,8,8,8,8,8,8
B,187,187,163,187,187,156,156,187,187,187,156,156
B+,175,175,145,175,175,159,159,175,175,175,159,159
B-,73,73,58,73,73,61,61,73,73,73,61,61
BB,387,387,351,387,387,298,298,387,387,387,298,298
BB+,448,448,350,448,448,330,330,448,448,448,330,330
BB-,230,230,201,230,230,189,189,230,230,230,189,189
BBB,900,900,387,900,900,500,500,900,900,900,500,500
BBB+,1006,1006,464,1006,1006,548,548,1006,1006,1006,548,548
BBB-,486,486,326,486,486,433,433,486,486,486,433,433
CC,10,10,8,10,10,8,8,10,10,10,8,8
CCC,29,29,20,29,29,21,21,29,29,29,21,21
CCC+,19,19,18,19,19,19,19,19,19,19,19,19
CCC-,13,13,13,13,13,10,10,13,13,13,10,10
D,10,10,9,10,10,4,4,10,10,10,4,4

# API Function get Data

In [ ]:
#!/usr/bin/env python

try:
    # For Python 3.0 and later
    from urllib.request import urlopen
except ImportError:
    # Fall back to Python 2's urllib2
    from urllib2 import urlopen

import json

def get_jsonparsed_data(url):
    """
    Receive the content of ``url``, parse it as JSON and return the object.

    Parameters
    ----------
    url : str

    Returns
    -------
    dict
    """
    response = urlopen(url)
    data = response.read().decode("utf-8")
    return json.loads(data)

url = ("https://financialmodelingprep.com/api/v3/ratios/BCE?apikey=c283e7eb3ddc10dcc0ed8146046dff97")
BCE = get_jsonparsed_data(url)